<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.tianxiabuyi.bluetooth"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!--蓝牙开发所需要基本的权限-->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!--如果应用没有位置权限，蓝牙扫描功能不能使用（其它蓝牙操作例如连接蓝牙设备和写入数据不受影响）。-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!--Android 5.0 之后，需要在manifest 中申明GPS硬件模块功能的使用。-->
    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>